<div class="row">
   <div class="col s12 m12">
     <div class="card white darken-1">
       <div class="card-content black-text">
         <span class="card-title">Payments</span>
         <table class="striped">
           <tr>
                 <th>Admission No</th>
             <th> Name</th>
             <th>Department</th>
             <th>Departmnt Type</th>
                 <th>Fees Type</th>
              <th>Graduate</th>
                <th>Semester</th>
           </tr>
           {{#each data}}
            <tr class="statictr">
              <td style="display:none">{{this._id}}</td>
              <td id="eid"> {{this.name}}</td>
              <td id="pos"> {{this.position}}</td>
              <td id="dep"> {{this.department}}</td>
              <td id="con"> {{this.contact}}</td>
            </tr>
            <tr class="insert" style="display:none">
              <td style="display:none"><input id="sid" type=text value={{this._id}}></td>
              <td id="id"> <input disabled  id="sname"type=text value={{this.name}}></td>
              <td id="epos"><select style="display:block" id="spos">
              <option value="assistant professor">assistant professor</option>
              <option value="head of the department">head of the department</option>
            </select></td>
              <td id="edep">
                <input  disabled id="sdep" type=text value= {{this.department}}>
            </td>
              <td id="econ"><input id="scon" type=text value= {{this.contact}}></td>
                <td id="ebutton"><input class="update" type=button value= Update></td>
            </tr>
            {{/each}}
         </table>
       </div>
       <div class="card-action">
         <a href="#">load-more >></a>

       </div>
     </div>
   </div>
 </div>
